<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>iremont.pl</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 justify-content-between w-100">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/workshop/dashboard}">IREMONT</a>
                </li>
                <div class="center-links d-flex">
                    <li class="nav-item">
                        <a th:href="@{/workshop/showCreatedOrderList}" type="button" class="nav-link" aria-pressed="true">Nowe zlecenia</a>
                        <!-- мапінг на контроллер з формаою реєстрації  -->
                    </li>
                    <div class="divider">
                        |
                    </div>
                    <li class="nav-item">
                        <a th:href="@{/workshop/showImplementationOrderList}" type="button" class="nav-link" aria-pressed="true">Bieżące zlecenia</a>
                    </li>
                    <div class="divider">
                        |
                    </div>
                    <li class="nav-item">
                        <a th:href="@{/workshop/showCompletedOrderList}" type="button" class="nav-link" aria-pressed="true">Archiwum zleceń</a>
                        <!-- &lt;!&ndash; мапінг на контроллер з формаою реєстрації  &ndash;&gt; -->
                    </li>
                </div>

                <li class="nav-item logout-item">
                    <form name="logoutForm" th:action="@{/logout}" class="nav-link" method="post">
                        <input type="submit" class="nav-link" value="Wyloguj się"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Place for messages: error, alert etc ... -->
<div class="form-group">
    <div class="col-xs-15">
        <div>

            <!-- Check for registration error -->
            <div th:if="${message}" class="alert alert-success col-xs-offset-1 col-xs-10">
                <span th:text="${message}"></span>
            </div>

        </div>
    </div>
</div>
<section class="order-list">
    <div class="container">
        <div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <!--                    <th scope="col">#</th>-->
                    <th scope="col">#</th>
                    <th scope="col">Data stworzenia</th>
                    <th scope="col">Marka</th>
                    <th scope="col">Model</th>
                    <th scope="col">Rok</th>
                    <th scope="col">Imie i Nazwisko</th>
                    <th scope="col">Numer telefonu</th>
                    <th scope="col">Data Realizacji</th>
                    <th scope="col">Cena</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <div th:each="orderWorkshopDataIterator, iter : ${orderWorkshopDataList}">
                    <tr>
                        <div>
                            <td class="scope" th:text="${iter.index + 1}"></td>
                            <td style="min-width: 145px;" th:text="${orderWorkshopDataIterator.creationDate}"/>
                            <td style="min-width: 95px;" th:text="${orderWorkshopDataIterator.carData.make}"/>
                            <td th:text="${orderWorkshopDataIterator.carData.model}"/>
                            <td th:text="${orderWorkshopDataIterator.carData.year}"/>
                            <td style="min-width: 135px;"><span th:text="${orderWorkshopDataIterator.customerDetailData.firstName}"></span>
                                <span th:text="${orderWorkshopDataIterator.customerDetailData.lastName}"></span></td>
                            <td th:text="${orderWorkshopDataIterator.customerDetailData.phoneNumber}"/>

                            <form th:action="@{/workshop/processOrderChoose}" th:object="${orderAnswerData}"
                                  method="POST"
                                  class="form-horizontal">

                                <input type="hidden" th:value="${orderWorkshopDataIterator.orderAnswerId}" name="orderAnswerId"/>

                                <div>
                                    <td style="max-width: 178px;">
                                        <!-- Implementation date -->
                                        <div>
                                            <input type="date" id="implementationDate" th:value="*{implementationDate}" th:field="*{implementationDate}" placeholder="Data realizacji (*)" class="form-control" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('implementationDate')}"
                                             class="text-danger">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('implementationDate')}" th:text="'Data realizacji ' + ${err}" />
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width: 112px;">
                                        <!-- price -->
                                        <div class="input-group">
                                            <input type="number" id="price" th:field="*{price}" placeholder="Cena (*)" class="form-control" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('price')}"
                                             style="margin-bottom: 25px" class="text-danger">
                                            <ul>
                                                <li th:each="err : ${#fields.errors('price')}" th:text="'Cena ' + ${err}" />
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btns-wrapper">
                                            <button type="submit" class="btn btn-secondary">Zaoferować</button>
                                        </div>
                                    </td>
                                </div>
                            </form>
                            <td>
                                <div class="btns-wrapper">
                                    <form th:action="@{/workshop/showCreatedOrderListOptions}" method="POST" class="form-horizontal">
                                        <input type="hidden" th:value="${orderWorkshopDataIterator.orderAnswerId}" name="orderAnswerId"/>
                                        <button type="submit" class="btn btn-secondary">Opcje</button>
                                    </form>
                                    <form th:action="@{/workshop/deleteOrder}" method="POST" class="form-horizontal">
                                        <input type="hidden" th:value="${orderWorkshopDataIterator.orderAnswerId}" name="orderAnswerId"/>
                                        <button type="submit" class="btn btn-secondary">Usuń</button>
                                    </form>
                                </div>
                            </td>
                        </div>
                    </tr>

                </div>
                </tbody>
            </table>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>









