<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Workshop</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 justify-content-between w-100">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Welcome, <span th:text="${employeeDetail.firstName}"></span> <span th:text="${employeeDetail.lastName}"></span></a>
                </li>
                <div class="center-links d-flex">
                    <li class="nav-item">
                        <a th:href="@{/employee/showOrderList}" type="button" class="nav-link" aria-pressed="true">Order List</a>
                        <!-- мапінг на контроллер з формаою реєстрації  -->
                    </li>
                    <div class="divider">
                        |
                    </div>
                    <li class="nav-item">
                        <a th:href="@{/employee/showAddCarForm}" type="button" class="nav-link" aria-pressed="true">Add car</a>
                        <!-- &lt;!&ndash; мапінг на контроллер з формаою реєстрації  &ndash;&gt; -->
                    </li>
                    <div class="divider">
                        |
                    </div>
                    <li class="nav-item">
                        <a th:href="@{/employee/showCarList}" type="button" class="nav-link" aria-pressed="true">Show car</a>
                        <!-- &lt;!&ndash; мапінг на контроллер з формаою реєстрації  &ndash;&gt; -->
                    </li>
                    <div class="divider">
                        |
                    </div>
                    <li class="nav-item">
                        <a th:href="@{/employee/showOption}" type="button" class="nav-link" aria-pressed="true">Options</a>
                        <!-- &lt;!&ndash; мапінг на контроллер з формаою реєстрації  &ndash;&gt; -->
                    </li>
                </div>

                <li class="nav-item">
                    <a th:href="@{/login}" type="button" class="nav-link">LogIn</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="create-order">
    <div class="container">
        <div class="create-order__wrapper">
            <h2 class="create-order__title">Choose your service!</h2>
            <div class="create_order__desrc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, laboriosam!</div>
            <a th:href="@{/employee/showAddCarToOrderForm}" type="button" class="btn btn-secondary create-order__btn" aria-pressed="true">Create order</a>
        </div>
    </div>
</section>
<!----------------------------------------------------------------------------->
<!-- Place for messages: error, alert etc ... -->
<div class="form-group">
    <div class="col-xs-15">
        <div>

            <!-- Check for registration error -->
            <div th:if="${message}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                <span th:text="${message}"></span>
            </div>

        </div>
    </div>
</div>
<!------------------------------------------------------------------------------>

<section class="home">
    <div class="container">
        <div class="card text-dark bg-light mb-3">
            <div class="row g-0">
                <div class="col-md-7">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <img src="../img/general-car-repair-CA-Motor-Works.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                                <img src="../img/general-car-repair-CA-Motor-Works.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/general-car-repair-CA-Motor-Works.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-body offer-right-side">
                        <h1 class="card-title offer-title">Welcome</h1>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, iure saepe eaque delectus sunt voluptates deserunt accusantium sed ea dignissimos amet harum asperiores laboriosam perspiciatis ratione nam similique provident quos enim architecto.</p>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, iure saepe eaque delectus sunt voluptates deserunt accusantium sed ea dignissimos amet harum asperiores laboriosam perspiciatis ratione nam similique provident quos enim architecto.</p>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, iure saepe eaque delectus sunt voluptates deserunt accusantium sed ea dignissimos amet harum asperiores laboriosam perspiciatis ratione nam similique provident quos enim architecto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cities">
    <div class="container">
        <h2 class="title">List of cities</h2>
        <div class="cities-wrapper">
            <div class="city-item" th:each="city : ${cityList}">
                <p th:text="${city}"/>
            </div>
        </div>
    </div>
    <!-- мій message треба переробити----------------------------------------------------------------------------------------------------------------------------->

    <!-- Place for messages: error, alert etc ... -->
    <!-- Place for messages: error, alert etc ... -->

    <!--	доступ до виведення списку всіх міст в яких є наші сервіси-->


    <!----------------------------------------------------------------------------------------------------------------------------------------------------------------->
</section>
<footer>
    <div>Rzeszow, 2021</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>









